# 시각화

In [4]:
# 한글 폰트 설치
!apt-get install -y fonts-nanum
!fc-cache -fv
!rm ~/.cache/matplotlib -rf
# 설치 후 colab 경우 Reuntime > Restart session 필요

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
fonts-nanum is already the newest version (20200506-1).
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.
Font directories:
	/root/.local/share/fonts
	/usr/local/share/fonts
	/usr/share/fonts
	/root/.fonts
	/usr/share/fonts/truetype
	/usr/share/fonts/truetype/dejavu
	/usr/share/fonts/truetype/nanum
/root/.local/share/fonts: skipping, no such directory
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 2 dirs
/usr/share/fonts/truetype/dejavu: caching, new cache contents: 22 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 12 fonts, 0 dirs
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/dejavu: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [5]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
mpl.rc('font', family='NanumBarunGothic') # 혹은 다른 설치한 Nanum 폰트 사용

# 데이터 전처리

In [10]:
import numpy as np
import pandas as pd
import pymongo
client=pymongo.MongoClient("192.168.10.240",27017)
db= client['AI_LKJ']
collection=db['data_consume_transition']
data = collection.find()
df_consume_transition = pd.DataFrame(data)
df_consume_transition[:5]

,_id,industry_major_cate,std_year_month,std_year,std_month,consumption_amount,region
0,65e932a1bb908e26c804492e,전체,202012,2020,12,59888524.0,강원
1,65e932a1bb908e26c804492f,전체,202001,2020,1,98147222.0,강원
2,65e932a1bb908e26c8044930,전체,202002,2020,2,69547139.0,강원
3,65e932a1bb908e26c8044931,전체,202003,2020,3,62071229.0,강원
4,65e932a1bb908e26c8044932,전체,202004,2020,4,75022238.0,강원

In [12]:
# 결츨치와 이상치 확인    -> 없음 확인
df_consume_transition.isnull().sum()

_id                    0
industry_major_cate    0
std_year_month         0
std_year               0
std_month              0
consumption_amount     0
region                 0
dtype: int64

In [13]:
df_consume_transition.columns

Index(['_id', 'industry_major_cate', 'std_year_month', 'std_year', 'std_month',
       'consumption_amount', 'region'],
      dtype='object')

In [15]:
df_consume_transition['industry_major_cate'].unique()

array(['전체', '운송업', '여행업', '숙박업', '식음료업', '여가서비스업', '쇼핑업'], dtype=object)

In [16]:
df_consume_transition['std_month'].unique()

array([12,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [21]:
type('std_month')

str