# 시각화

In [1]:
# 한글 폰트 설치
!apt-get install -y fonts-nanum
!fc-cache -fv
!rm ~/.cache/matplotlib -rf
# 설치 후 colab 경우 Reuntime > Restart session 필요

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
fonts-nanum is already the newest version (20200506-1).
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.
Font directories:
	/root/.local/share/fonts
	/usr/local/share/fonts
	/usr/share/fonts
	/root/.fonts
	/usr/share/fonts/truetype
	/usr/share/fonts/truetype/dejavu
	/usr/share/fonts/truetype/nanum
/root/.local/share/fonts: skipping, no such directory
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 2 dirs
/usr/share/fonts/truetype/dejavu: caching, new cache contents: 22 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 12 fonts, 0 dirs
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/dejavu: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [2]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
mpl.rc('font', family='NanumBarunGothic') # 혹은 다른 설치한 Nanum 폰트 사용

# 데이터 전처리

## 관광소비 유형(20-23년도)

In [5]:
import numpy as np
import pandas as pd
import pymongo
client=pymongo.MongoClient("192.168.10.240",27017)
db= client['AI_LKJ']
collection=db['data_consume']
data = collection.find()
df_consume = pd.DataFrame(data)
df_consume[:5]

,_id,std_year,region,consumption_amount,industry_major_cate,industry_middle_cate
0,65e912c3bb908e26c803dea3,2020,강원,2.870202e+06,쇼핑업,관광기념품
1,65e912c3bb908e26c803dea4,2020,강원,8.180715e+07,쇼핑업,레저용품쇼핑
2,65e912c3bb908e26c803dea5,2020,강원,8.001180e+07,쇼핑업,대형쇼핑몰
3,65e912c3bb908e26c803dea6,2020,강원,6.250369e+04,쇼핑업,면세점
4,65e912c3bb908e26c803dea7,2020,강원,2.938260e+07,숙박업,호텔

In [7]:
# 결측치와 이상치 확인      -> 없음 확인
df_consume.isnull().sum()

_id                     0
std_year                0
region                  0
consumption_amount      0
industry_major_cate     0
industry_middle_cate    0
dtype: int64

In [9]:
df_consume.columns

Index(['_id', 'std_year', 'region', 'consumption_amount',
       'industry_major_cate', 'industry_middle_cate'],
      dtype='object')

In [11]:
df_consume_IC = df_consume[df_consume['region'] == '강원'].sort_values('industry_middle_cate', ascending=False)
df_consume_IC[:5]

,_id,std_year,region,consumption_amount,industry_major_cate,industry_middle_cate
593,65e912c3bb908e26c803e0f4,2022,강원,4.160299e+07,숙박업,호텔
886,65e912c3bb908e26c803e219,2023,강원,4.358227e+07,숙박업,호텔
300,65e912c3bb908e26c803dfcf,2021,강원,3.238068e+07,숙박업,호텔
4,65e912c3bb908e26c803dea7,2020,강원,2.938260e+07,숙박업,호텔
18,65e912c3bb908e26c803deb5,2020,강원,8.135180e+04,운송업,항공운송

In [13]:
df_consume['industry_major_cate'].unique()

array(['쇼핑업', '숙박업', '식음료업', '여가서비스업', '여행업', '운송업'], dtype=object)