In [5]:
import numpy as np
import pandas as pd
import pymongo
client=pymongo.MongoClient("192.168.10.240",27017)
db= client['AI_LKJ']
collection=db['data_consume_transition']
data = collection.find()
df_consume_transition = pd.DataFrame(data)
df_consume_transition[:5]

,_id,industry_major_cate,std_year_month,std_year,std_month,consumption_amount,region
0,65e932a1bb908e26c804492e,전체,202012,2020,12,59888524.0,강원
1,65e932a1bb908e26c804492f,전체,202001,2020,1,98147222.0,강원
2,65e932a1bb908e26c8044930,전체,202002,2020,2,69547139.0,강원
3,65e932a1bb908e26c8044931,전체,202003,2020,3,62071229.0,강원
4,65e932a1bb908e26c8044932,전체,202004,2020,4,75022238.0,강원

In [6]:
len(df_consume_transition)

5693

In [7]:
df_consume_transition = df_consume_transition[df_consume_transition['industry_major_cate'] == '전체']
df_consume_transition
len(df_consume_transition)

816