# 시각화

In [4]:
# 한글 폰트 설치
!apt-get install -y fonts-nanum
!fc-cache -fv
!rm ~/.cache/matplotlib -rf
# 설치 후 colab 경우 Reuntime > Restart session 필요

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
fonts-nanum is already the newest version (20200506-1).
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.
Font directories:
	/root/.local/share/fonts
	/usr/local/share/fonts
	/usr/share/fonts
	/root/.fonts
	/usr/share/fonts/truetype
	/usr/share/fonts/truetype/dejavu
	/usr/share/fonts/truetype/nanum
/root/.local/share/fonts: skipping, no such directory
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 2 dirs
/usr/share/fonts/truetype/dejavu: caching, new cache contents: 22 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 12 fonts, 0 dirs
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/dejavu: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [5]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import matplotlib.pyplot as plt
mpl.rc('font', family='NanumBarunGothic') # 혹은 다른 설치한 Nanum 폰트 사용

# 데이터 전처리

## 관광여행횟수_성별_연령_여행지활동(2018-2022) = gender_age_travelActivities(2020-2022)

### 1. 년도별 전체(소계) 비교 - 2020, 2021, 2022년도 합계
### 2. 3년도는 합치고 남여 비교
### 3. 3년도는 합치고 나이대별 비교
### 4. 3년도는 합치고 항목별 비교

In [6]:
import numpy as np
import pandas as pd
import pymongo
client=pymongo.MongoClient("192.168.10.240",27017)
db= client['AI_LKJ']
collection=db['gender_age_travelActivities(2020-2022)']
data = collection.find()
df_gender_age_travelActivities = pd.DataFrame(data)
df_gender_age_travelActivities

,_id,classification,values,year,month,visitor_percent
0,662619a0db3227b4f2b26605,전체,소계,2020,자연 및 풍경감상,78.1
1,662619a0db3227b4f2b26606,전체,소계,2020,음식관광(지역 맛집 등),53.9
2,662619a0db3227b4f2b26607,전체,소계,2020,휴식/휴양,57.6
3,662619a0db3227b4f2b26608,전체,소계,2020,가족/친지/친구 방문,16.3
4,662619a0db3227b4f2b26609,전체,소계,2020,역사 유적지 방문,8.5
...,...,...,...,...,...,...
625,662619a0db3227b4f2b26876,연령,70대 이상,2022,회의참가/시찰,0.4
626,662619a0db3227b4f2b26877,연령,70대 이상,2022,교육/훈련/연수,0.2
627,662619a0db3227b4f2b26878,연령,70대 이상,2022,스포츠 경기관람,-
628,662619a0db3227b4f2b26879,연령,70대 이상,2022,카지노 경마 경륜 등,0.1
629,662619a0db3227b4f2b2687a,연령,70대 이상,2022,기타,1.5

In [7]:
# 결측치와 이상치 확인     -> 없음 확인
df_gender_age_travelActivities.isnull().sum()

_id                0
classification     0
values             0
year               0
month              0
visitor_percent    0
dtype: int64

In [8]:
# 전체적인 컬럼 확인
df_gender_age_travelActivities.columns

Index(['_id', 'classification', 'values', 'year', 'month', 'visitor_percent'], dtype='object')

In [9]:
# 년도별 전체(소계) 비교 - 2020, 2021, 2022년도 합계
df_gender_age_month_totalsum = df_gender_age_travelActivities[df_gender_age_travelActivities['classification'] == '전체'].sort_values('visitor_percent', ascending=False)

In [10]:
## 년도별 전체(소계) 비교 - 2020, 2021, 2022년도 합계
pd.pivot_table(data=df_gender_age_month_totalsum,index='year',values='visitor_percent',aggfunc='mean')

     visitor_percent
year
2020       12.385714
2021       12.961905
2022       12.833333

In [11]:
# 3년도는 합치고 남여 비교
df_gender_age_travelActivitiesgendercompare = df_gender_age_travelActivities[df_gender_age_travelActivities['classification'] == '성별'].sort_values('visitor_percent', ascending=False)

In [12]:
## 3년도는 합치고 남여 비교
pd.pivot_table(data=df_gender_age_travelActivitiesgendercompare,index='values',values='visitor_percent',aggfunc='mean')

       visitor_percent
values
남자           12.573016
여자           12.871429

In [13]:
visitor_percent = "-"
visitor_percent = ""
df_gender_age_travelActivities

,_id,classification,values,year,month,visitor_percent
0,662619a0db3227b4f2b26605,전체,소계,2020,자연 및 풍경감상,78.1
1,662619a0db3227b4f2b26606,전체,소계,2020,음식관광(지역 맛집 등),53.9
2,662619a0db3227b4f2b26607,전체,소계,2020,휴식/휴양,57.6
3,662619a0db3227b4f2b26608,전체,소계,2020,가족/친지/친구 방문,16.3
4,662619a0db3227b4f2b26609,전체,소계,2020,역사 유적지 방문,8.5
...,...,...,...,...,...,...
625,662619a0db3227b4f2b26876,연령,70대 이상,2022,회의참가/시찰,0.4
626,662619a0db3227b4f2b26877,연령,70대 이상,2022,교육/훈련/연수,0.2
627,662619a0db3227b4f2b26878,연령,70대 이상,2022,스포츠 경기관람,-
628,662619a0db3227b4f2b26879,연령,70대 이상,2022,카지노 경마 경륜 등,0.1
629,662619a0db3227b4f2b2687a,연령,70대 이상,2022,기타,1.5

In [15]:
# 3년도는 합치고 나이대별 비교
df_gender_age_travelActivities.query("classification=='연령'").sort_values('visitor_percent', ascending=False)
# df_gender_age_travelActivities_agecompare = df_gender_age_travelActivities[df_gender_age_travelActivities['classification'] == '연령'].sort_values('visitor_percent', ascending=False)

TypeError: '<' not supported between instances of 'str' and 'float'